<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well blackwhite">
        <h1 class="text-center">Edit Your Profile</h1>
        <p class="text-center">Edit your Profile here..</p>
    </div>
    <div class="well blackwhite">
      <%= render 'form' %>
    </div>
  </div>
</div>