<div class="jumbotron text-center painter">
    <h1>About Business Den</h1>
</div>
<div class="well profile-black-white">
    <h3>Business Den is a community site where Entrepreneuers, 
    Small Business owners can meet potential Investors in order to develop your business or ideas further.<br /><br />
    We offer 2 membership plans - A free Plan where you can join and view all the membership profiles and with a £9 monthly subscription. However, 
    you can also join our Premium plan and view all membership details including contact details.
    <br /><br />Why not join us and see your business grow or idea become a reality.<br /><br />Looking forward to seeing you on board!!</h3>
</div>