

.jumbotron.painter {
     background-color: #ffffff;
    border: 9px solid black;
    border-radius: 25px !important ;
}

.space {
    visibility: hidden;
}

.pname {
    color: #D4AF37;  
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-default-orange {
    background:#FFA500;
    color: #ffffff ;
}

.me a{
    color: #d3d3d3;
    
}

.well.profile-black-white {
    background-color: #ffffff;
    border: 9px solid black;
    border-radius: 25px;
}