

.painter {
     background-color: #ffffff !important;
    border: 9px solid black;
    border-radius: 25px !important;
}

.space {
    visibility: hidden;
}

.whiteLand {
    background-color:#ffffff !important;
    border: 9px solid black !important;
    border-radius: 25px !important;
}

.blackwhite {
    background-color: #ffffff !important;
    border: 9px solid black !important;
    border-radius: 25px !important;
    
}

.pname {
    color: #D4AF37;  
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-default-orange {
    background:#FFA500;
    color: #ffffff ;
}
