<div class="row">
    <div class="col-md-6 col-offset-4">
        <footer class="footer">
      <small class="me">
         <a href="http://www.vincethewalker.com/">Created by Vincent Walker</a>
      </small>
    </div>
    
  </div>